/*
Author: Brian Liebe
*/

/* Nav Bar */

.topnav {
    overflow: hidden;
    background-color: transparent;
    padding-left: 0;
    display: flex;
}
.topnav a {
    float: left;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 8px 10px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: white;
    color: black;
}
.topnav a.active {
    background-color: white;
    color: black;
}
.topnav a.visited {
    color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 35% 35% 35%;
  grid-gap: 10px;
  margin: auto;
}

.box {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}

/* Body */

body {
    font-family: "Consolas";
    color: white;
}

h2 {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.centered {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

td {
	vertical-align: top;
	padding: 0 15px;
}

/* Home Page */

.head-name {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 50px;
    max-width: 40%;
}

.head-name .description {
    font-size: 17px;
}